<h1>
<%= cl_image_tag("b3kn5dkrw9b8how8osdg", width: 600, height: 300, crop: :fill) %>
</h1>

<div class="card-container">
    <% @cocktails.each do |cocktail| %>
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path cocktail.photo.key %>')"><%= link_to cocktail.name, cocktail_path(cocktail)%></div>
    <% end %>
</div>


<div class="button-container">
  <%= link_to "Add New Cocktail", new_cocktail_path, class: "btn-add" %>
</div>
