<h1><%= cl_image_tag("https://res.cloudinary.com/ian-industries/image/upload/v1605842410/b3kn5dkrw9b8how8osdg.png",
      width: 400, height: 300, crop: :fill) %></h1>

<ul class="card-container">
  <% @cocktails.each do |cocktail| %>
    <li class="card"><%= link_to cocktail.name, cocktail_path(cocktail)%></li>
  <% end %>
</ul>

<p><%= link_to "Add New Cocktail", new_cocktail_path, class: "btn-add" %> </p>
